@charset "utf-8";
/* CSS Document */

*{
	margin: 0px;
	padding: 0px;
}

body{
	background-image: url(../images/adminbackground.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.background{
	width: 520px;
	height: 500px;
	background-color: #040833;
	position: absolute;
	top: 19%;
	left: 33%;
	border-radius: 50px;
}

.background img{
	position: absolute;
	top: 5%;
	left: 33%;
}

form{
	color: #0C0C66;
	padding: 200px 0 0 90px;
	font-family: lato;
	font-weight: 300;

}

input{
	width: 330px;
	height: 35px;
	margin: 5px 0;
	padding: 10px 5px 10px 30px;
	color: #0C0C66;
}

#user{
	position: absolute;
	top: 37%;
	left: 15px;
}

#pass{
	position: absolute;
	top: 51%;
	left: 15px;
}

#btn{
	text-align: center;
	padding: 0;
	margin: 50px 0px 0 25px;
	width: 300px;
	height: 60px;
	background-color: #0C0C6600;
	border: solid white; 
	border-radius: 50px;
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
}

#btn:hover{
	background-color: #1B19B7;
	border: solid #1B19B7; 
}

a{
	text-decoration: none;
}

#symbol{
	position: absolute;
	bottom: 1%;
	left: 34%;
}