@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}

body{
	width: 100%;
	height: 100vh;
	color: white;
	font-family: lato;
	text-align: center;
}

.container{
	background-color: black;
	width: 300px;
	height: 100vh;
	
}

#pic{
	margin: 20px 0;
}

p1{
	font-size: 14px;
	font-weight: 200;
	color: white;
	letter-spacing: 0.1em;
}

h4{
	padding-top: 10px;
	font-size: 30px; 
}

h1{
	text-align: left;
	font-weight: 500;
	padding: 20px 0 20px 0; 
	font-size: 18px;
}

.menu{
	width: 70%;
	height: 500px;
	position: absolute;
	color: black;
	top: 5%;
	left: 30%;
}

h2{
	padding-bottom: 50px;
}



 .img{
 	float: left;
	width: 200px;
	height: 180px;
	margin: 10px;
	background-color: #040833;
	color: white;
	border-radius: 20px;
	cursor: pointer;
}

.img:hover , .img p:hover{
	 background-color: #FF0000; 
	 color: white;
}

.wrd{
	padding: 10px 0 0 30px;
	text-align: left;
}

p{
	padding: 10px;
	font-size: 20px;
	font-weight: 200;
	cursor: pointer;
	color: white;
}

p:hover{
	color: red;
}


a{
	text-decoration: none;
}

.fas, .fa{
	padding: 0 20px; 
	font-size: 10px;
}